{% extends 'events/Base.html' %}
{% block content %}
{% load staticfiles %}
<section class="our-speaker-area bg-img bg-gradient-overlay section-padding-100-60" style="background-image: url({% static 'img/bg-img/3.jpg' %});">
    <div class="container" style="margin-top:40px; margin-bottom:100px; ">
        <div style="border:1px solid violet; padding:10px;">
        <div style="text-align: center; "><h3 style="color:cornsilk;">Privacy Policy</h3>
        <h6 style="color:cornsilk; ">This is a human-readable summary of the Privacy Policy. To read the full terms, scroll down </h6>
        <p style="font-style:oblique; color:white; font-size:10px; margin-bottom:20px;">Disclaimer: This summary is not a part of the Privacy Policy and is not a legal document. It is simply a handy reference for understanding the full Privacy Policy. Think of it as the user-friendly interface to our Privacy Policy.</p></div>
        <h5 style="color:cornsilk; font-size:17px; font-weight: bold;">Because we believe that you shouldn’t have to provide personal information to participate in the free movement, you may:</h5>
        <ul style="margin-left:20px; ">
            <li style="list-style:disc; color:black;"><h6 style="color:cornsilk; font-size:15px;">Read and see the content on Bhavishya Event Site without registering an account.</h6></li>
            <li style="list-style:disc; color:black;"><h6 style="color:cornsilk; font-size:15px;">You can contact directly to the Service Provider with the help of the site without Registering an account.</h6></li>
        </ul>
        <h5 style="color:cornsilk; font-size:17px; font-weight: bold;">We are committed to:</h5>
        <ul style="margin-left:20px; ">
            <li style="list-style:disc; color:black;"><h6 style="color:cornsilk; font-size:15px;">Give Our Best to the Customer for making the Event Joyful and Memorable.</h6></li>
            <li style="list-style:disc; color:black;"><h6 style="color:cornsilk; font-size:15px;">Using reasonable measure to keep Your Contact Information secure.</h6></li>
            <li style="list-style:disc; color:black;"><h6 style="color:cornsilk; font-size:15px;">Never selling your contact information or sharing it with third parties for marketing purposes.</h6></li>
            <li style="list-style:disc; color:black;"><h6 style="color:cornsilk; font-size:15px;">Only share your information in limited circumstances, such as to the management team and other investor of the management Group.</h6></li>

        </ul>
        <h5 style="color:cornsilk; font-size:17px; font-weight: bold;">Be aware:</h5>
        <ul style="margin-left:20px; ">
            <li style="list-style:disc; color:black;"><h6 style="color:cornsilk; font-size:15px;">Any content you see on site is only for reading purpose only.</h6></li>
            <li style="list-style:disc; color:black;"><h6 style="color:cornsilk; font-size:15px;">The Bhavishya Event Site use cookies which take the information of the user's download content from the site.</h6></li>
            <li style="list-style:disc; color:black;"><h6 style="color:cornsilk; font-size:15px;">This Privacy Policy Does not apply to all sites and services run by any other organiztion.</h6></li>
            <li style="list-style:disc; color:black;"><h6 style="color:cornsilk; font-size:15px;">For te protection of the Bhavishya Event Management and other user, if you not agree with the Privacy Policy, you may not use the Bhavishya Event Site.</h6></li>
        </ul>
        
    </div>
    
</div>
</section>
{% endblock %}