{% extends 'events/Base.html' %}
{% block content %}
<style>
    .update{
        text-decoration: None;
        color:white;
        font-size:20px;
    }
    .update:hover{
        color: #df42b1;
    }
</style>
<section class="our-speaker-area bg-img bg-gradient-overlay section-padding-100-60">
    <div class="container" style="margin-top:40px; margin-bottom:100px;">        
        <a class="btn confer-btn m-2" style=" position:absolute; left:70%;" href="{% url 'events:logout' %}">Logout</a>
        <a class='update' href="{% url 'events:theme-party-update' %}">Theme Party</a><br>
        <a class='update' href="{% url 'events:decoration-update' %}">Decoration</a><br>
        <a class='update' href="{% url 'events:delete' %}">Delete Files</a><br>
        <a class='update' href="{% url 'events:admin-request-seen' %}">User Request</a><br>
    </div>
</section>
{% endblock %}